@import "tailwindcss";

/* Pages */

@import "./hasil-pemantauan.css";
@import "./hasil-pemantauan-popup.css";
@import "./monitoring.css";
@import "./detail-lokasi.css";
@import "./accordion.css";
@import "./report-modal.css";
@import "./article-frontend.css";
@import "./poupcontent-detail-lokasi.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* CSS Variables */
:root {
    --color-primary: #009966;
    --color-primary-dark: #2d5c54;
    --color-primary-light: #5a9e91;
    --color-secondary: #242621;
    --color-navbar: #003d28;
    --color-accent: #8f9d5d;
    --color-muted: #4c5250;
    --color-background: #fbfbfb;
}

/* Custom Utility Classes  */
.bg-primary {
    background-color: #009966 !important;
}

.bg-primary-dark {
    background-color: #2d5c54 !important;
}

.bg-primary-light {
    background-color: #5a9e91 !important;
}

.bg-secondary {
    background-color: #242621 !important;
}

.bg-navbar {
    background-color: #003d28 !important;
}

.bg-background {
    background-color: #fbfbfb !important;
}

.text-primary {
    color: #009966 !important;
}

.text-secondary {
    color: #242621 !important;
}

.text-muted {
    color: #4c5250 !important;
}

.text-navbar {
    color: #003d28 !important;
}

.border-primary {
    border-color: #009966 !important;
}

.hover\:bg-primary-dark:hover {
    background-color: #2d5c54 !important;
}

.hover\:bg-primary:hover {
    background-color: #009966 !important;
}

.hover\:text-primary:hover {
    color: #009966 !important;
}

.hover\:text-primary-dark:hover {
    color: #2d5c54 !important;
}

.hero-gradient {
    background: linear-gradient(135deg, #009966 100%);
}
